body {
    margin: 0;
}

#header {
    text-align: center;
    background: #e3f8ff;
    padding: 10px;
    border-bottom: 4px solid black;
}

#header > a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

#header > a.active {
    border-bottom: 1px solid gray;
}

#main-container {
    background: url("../images/main-background.png");
    padding-bottom: 50px;
}

#image-container {
    background: url("../images/package.jpg");
    background-size: 100px 100px;
    width: 100%;
    height: 200px;
}

h1 {
    margin-top: 0;
    font-size: 50px;
    text-align: center;
    padding: 30px 0 0 0;
}

#center-image {
    text-align: center;
}

#center-image img {
    padding: 10px;
    border: 1px solid gray;
}

#fast {
    color: green;
}

#quality {
    color: #3113ff;
}

#safe {
    color: #ff7400;
}

#additional-container {
    max-width: 500px;
    text-align: center;
    margin: 30px auto;
}

#additional-title {
    font-size: 30px;
    text-align: center;
}

.additional-text {
    font-size: 20px;
    font-style: italic;
    text-align: justify;
}

#footer {
    padding: 20px 0;
    text-align: center;
    border-top: 4px solid gray;
}

#footer p {
    line-height: 20px;
    margin: 0;
}
